/* reset */
input {
  all: unset;
}

.search {
  --input-w: 300px;
  --input-h: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.label {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
}

.input {
  width: var(--input-w);
  height: var(--input-h);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: white;
  border: 1px solid var(--color-slate-500);
}

input::placeholder {
  color: var(--color-slate-400);
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input:focus {
  box-shadow: 0 0 0 2px rgb(100 116 139);
}
